node_modules/
dist/
doc/presentation/*.aux
doc/presentation/*.fdb_latexmk
doc/presentation/*.fls
doc/presentation/*.log
doc/presentation/*.nav
doc/presentation/*.snm
doc/presentation/*.vrb
doc/presentation/*.out
doc/presentation/*.toc
doc/presentation/*.xdv
doc/presentation/*.mlir
doc/presentation/*.pdf
doc/presentation/.vscode/
